<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="js/angular-mod3.js"></script>
    <link rel="stylesheet" href="css/angular-mod3.css">
</head>
<body ng-app="myApp">
    <div ng-controller="NarrowItDownController as mod3ctrl">
        <input type="text" placeholder="Enter your criteria here" ng-model="mod3ctrl.criteria">
        <input type="button" ng-click="mod3ctrl.showItems()" value="Narrow It Down For Me!">
        <found-items found="mod3ctrl.found" remove-item="mod3ctrl.removeItem(index)"></found-items>
    </div>


    
</body>
</html>