<!doctype html>
<html lang="en" ng-app="mod1_solution">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="js/mod1_solution.js"></script>
    <link rel="stylesheet" href="styles/mod1_solution.css">
  </head>
<body>
   <div class="container" ng-controller="mod1_controller">
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control"
             ng-model="menuList"
             ng-class="txtClassName">
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="mod1Ctrl()">Check If Too Much</button>
         </div>
         <div class="form-group message">
             <p ng-class="className">{{output}}</p>
         </div>
   </div>

</body>
</html>